 <div class="bg">

     <nav class="nav nav-pills flex-column flex-sm-row">
         <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Home</a>
         <a class="flex-sm-fill text-sm-center nav-link" href="#">About</a>
         <a class="flex-sm-fill text-sm-center nav-link" href="#">Contact</a>
         <a class="flex-sm-fill text-sm-center nav-link">Help</a>
</nav>

<h1 class="head">My Resume</h1>
<div class="container">
    <div class="box1">
        <div class="card" style="width: 95%">
            <div class="card-body">
                <h5 class="card-title">Name : </h5><span>Sarvagya Kumar</span>
                <h5 class="card-title">Email : </h5><span>sarvagyaKumar17@gmail.com</span>
                <h5 class="card-title">Phone : </h5><span>9821683106</span>
                <h5 class="card-title">LinkedIn : </h5><a target="_blank"
                href="https://www.linkedin.com/in/sks1718/">linkedin.com/in/sks1718</a>
            </div>
        </div>
        
        <div class="card" style="width: 95%;">
            <div class="card-body">
                <h5 class="card-title">Skills</h5>
                <ul>
                    <li>Angular</li>
                    <li>Node.js</li>
                    <li>JavaScript</li>
                    <li>MongoDB</li>
                    <li>Jest</li>
                    <li>HTML/CSS</li>
                    <li>Git</li>
                    <li>Docker</li>
                </ul>
            </div>
        </div>

        <div class="card" style="width: 95%;">
            <div class="card-body">
                <h5 class="card-title">Languages</h5>
                <ul>
                    <li>Hindi</li>
                    <li>English</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="box2">
        <div class="card" style="width: 95%;">
            <div class="card-body">
                <h5 class="card-title">ABOUT ME</h5>

                <li>I am a full-stack developer with over a year of experience
                    in my previous organisation creating industry-ready
                    MEAN products.
                </li>
                <li>In depth knowledge of Git, Docker and MongoDB.
                    Analytical and precise professional with 1+ years of
                    hands-on experience taking charge of Front and Backend web development.</li>
                </div>
            </div>
            
            <div class="card" style="width: 95%;">
                <div class="card-body">
                    <h5 class="card-title">Professional Experience</h5>
                    <h6>DLT LABS - FULLSTACK DEVELOPER</h6>
                    <ul>
                        <li>Worked on Angular-based application, created Scheduler
                            functionality for the product, and also worked with
                            Internationalization (i18n).</li>
                            <li>Hands-on experience with Docker for deploying microservices in containers on AWS EC2 instance
                                servers</li>
                                <li>Hands-on experience with Git, Jira, Bitbucket, etc. tools for
                        task optimization.</li>
                    <li>Written unit testing of backend micro-services with Jest
                        and Super Test package libraries.</li>
                    <li>Worked on a MongoDB (NoSQL) database to store,
                        retrieve, and manipulate data for an application.</li>

                </ul>
            </div>
        </div>
        <div class="card" style="width: 95%;">
            <div class="card-body">
                <h6>MOGI IO - Internship</h6>
                <ul>
                    <li>
                        Full Stack developer used JavaScript to develop app
                        solutions</li>
                        <li>Designing and executing test cases according to
                            functional specifications</li>
                        </ul>
                    </div>
                </div>
                <div class="card" style="width: 95%;">
            <div class="card-body">
                <h5 class="card-title">EDUCATION</h5>
                <ul>
                    <li>
                        In my project I have implemented a systematic approach to how the
                        idea of a Smart city can be implemented and made
                        cost-effective.
                    </li>
                    <li>By using cameras(to monitor situations), LED with
                        varying intensity(to reduce power loss), an emergency
                        call system(to prevent crimes) in street lamps; cost-effective and low power consuming
                        beacons(to push
                        notifications); control devices in buildings, homes,
                        offices, and hotels to save power through app or
                        website(which can be done by voice too) and validate
                        it</li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    
    <button class="btn btn-primary my-3 mx-5" (click)="logout()">logout</button> 
</div>